<% if current_spree_user.present? %>
  <div class="row product-likes" data-hook="product-likes">

    <div class='col-sm-12'>
      <% if current_spree_user.admin? %>
        <%= pluralize(@product.likes_count, Spree.t('spree_product_like.like')) %>
      <% end %>

      <% if @product.liked_by?(current_spree_user) %>
        <div data-hook="product-dislike-button">
          <div class='form-group'>
            <%= link_to_with_icon 'heart', 'Dislike', unlike_product_path(id: @product.id), class: 'btn btn-primary' %>
          </div>
        </div>
      <% else %>
        <div data-hook="product-like-button">
          <div class='form-group'>
            <%= link_to_with_icon 'heart', 'Like', like_product_path(id: @product.id), class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>

  </div>
<% end %>
